#container {
  width: 1020px;
  height: 1020px;
  border: none;
  margin: 0 auto;
  margin-top: 125px;
}

#barra-superior {
  height: 100px;
  width: 1020px;
  border: none;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapfloor.png);
}

#border-map {
  position: absolute;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapbackground.png);
  background-size: 1020px 780px;
  margin: 0 auto;
  width: 1020px;
  height: 780px;
}

#map {
  margin: 55px auto;
  height: 700px;
  width: 900px;

}

#barra-inferior {
  position: absolute;
  top: 1000px;
  width: auto;
  height: 100px;
  width: inherit;
  border: none;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapfloor.png);
}

#hero {
  position: absolute;
  background-image: url(/source/graphics/penguistop.png);
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

table {
  height: 660px;
  width: 900px;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
}

.bloquehielo {
  background-image: url(/source/graphics/iceblock.png);
}

td {
  height: 60px;
  width: 60px;
}

tr {
  height: 60px;
  width: 60px;
}