#container {
  width: 1020px;
  height: 1020px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 125px;
}

#barra-superior {
  height: 100px;
  border: 1px solid red;
}
#border-map {
  position: absolute;
  background-image: url(/source/graphics/mapbackground.png);
  background-size: 1020px 780px;
  margin: 0 auto;
  width: 1020px;
  height: 780px;
}

#map {
  margin: 55px auto;
  height: 700px;
  width: 900px;
  
}

#barra-inferior {
  height: 95px;
  border: 1px solid green;
}

#hero {
  position: absolute;
  background-image: url(/source/graphics/penguistop.png);
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

table{
  height:660px;
  width: 900px;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
}

.bloquehielo{
  background-image: url(/source/graphics/mapBorder.png);
}

td{
  height: 60px;
  width: 60px;
}

tr{
  height: 60px;
  width: 60px;
}