html {
  overflow: hidden;
  scrollbar-width: none;
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url(/source/graphics/fondoinicio.png);
  background-repeat: no-repeat;
  background-size: content;
  background-position: center;
}

#btn-main {
  position: absolute;
  width: 100%;
  margin: 475px auto;
  background: url(/source/graphics/botonstart.png) center;
  border: none;
  padding: 65px 160px;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#btn-main:active {
  background: url(/source/graphics/botonstartpulsado.png) center;
  background-repeat: no-repeat;
}

.mrg-bottom-panel {
  position: initial;
  margin-top: 15px;
  margin-left: 45px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#btn-exit {
  position: absolute;
  margin-top: 15px;
  left: 790px;
  background: url(/source/graphics/botonexit.png) center;
  border: none;
  padding: 35px 95px;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#btn-exit:active {
  background: url(/source/graphics/botonexitpulsado.png) center;
}

#container {
  display: none;
  width: 1020px;
  height: 1020px;
  border: none;
  margin: 0 auto;
  margin-top: 75px;
}

#top-panel {
  z-index: 99;
  height: 100px;
  width: 1020px;
  border: none;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapfloor.png);
}

#border-map {
  position: absolute;
  height: 770px;
  width: 1020px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapbackground.png);
  background-size: 1020px 770px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#map {
  position: relative;
  margin: 70px auto;
  height: 660px;
  width: 900px;
}

#bottom-panel {
  z-index: 99;
  position: absolute;
  top: 950px;
  width: auto;
  height: 100px;
  width: inherit;
  border: none;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url(/source/graphics/mapfloor.png);
}

#hero {
  z-index: 2;
  position: absolute;
  background: url(/source/graphics/penguistop.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  animation: penguin-walk 1s steps(3) infinite;
}
#enemy {
  z-index: 2;
  position: absolute;
  background-image: url(/source/graphics/yetileft.png);
  background-size: 55px 55px;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
}

table {
  height: 660px;
  width: 900px;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
}

.ice-cube {
  background-image: url(/source/graphics/iceblock.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

td {
  height: 60px;
  width: 60px;
  border: none;
}

tr {
  border: none;
  height: 60px;
  width: 60px;
}

.bomb {
  z-index: 1;
  position: absolute;
  background: url(/source/graphics/bola\ nieve\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
}

.bomb-blow {
  height: 60px;
  width: 60px;
  background: url();
  margin: 0 auto;
  animation: bomb 1s steps(3) infinite;
}

.bomb-expand-up {
  z-index: 98;
  position: absolute;
  height: 180px;
  width: 60px;
  margin: 0 auto;
  background: url(/source/graphics/blow-up-down.png);
  animation: bomb-explote-updown 1s steps(3) infinite;
}

.bomb-expand-left {
  z-index: 98;
  position: absolute;
  height: 60px;
  width: 180px;
  margin: 0 auto;
  background: url(/source/graphics/blow-right-left.png);
  animation: bomb-explote-leftright 1s steps(3) infinite;
}

@keyframes bomb {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -180px;
  }
}

@keyframes bomb-explote-leftright {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -540px;
  }
}

@keyframes bomb-explote-updown {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -180px;
  }
}

@keyframes penguin-walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -105px;
  }
}
